<mat-toolbar id="nav-bar">
    <div class="buttons-container">
        <button class="menu-trigger" mat-button (click)="smMenu = !smMenu">
            <mat-icon >menu</mat-icon>
        </button>
        <div class="nav-button-container">
            <button mat-button routerLink="/home"
                routerLinkActive="active-link">{{ 'Sections.home' | translate | uppercase}}</button>
            <button mat-button routerLink="/experience"
                routerLinkActive="active-link">{{ 'Sections.experience' | translate |uppercase }}</button>
            <button mat-button routerLink="/education"
                routerLinkActive="active-link">{{ 'Sections.education' | translate | uppercase}}</button>
            <button mat-button routerLink="/about-me"
                routerLinkActive="active-link">{{ 'Sections.info' | translate | uppercase}}</button>
            <button mat-button routerLink="/projects"
                routerLinkActive="active-link">{{ 'Sections.projects' | translate | uppercase}}</button>
            <button mat-button>
                <a href="../../../assets/{{'Other.Files.cv' | translate }}" download>
                    {{ 'Other.download' | translate | uppercase}}
                </a>
            </button>
        </div>
    </div>
    <h4>Cristhian Richard</h4>
</mat-toolbar>
<div *ngIf="smMenu" class="sm-menu">
        <div class="buttons">
            <button class="menu-buttons" mat-button routerLink="/home" (click)="smMenu = false"
                routerLinkActive="active-link-sm">{{ 'Sections.home' | translate | uppercase}}</button>
            <button class="menu-buttons" mat-button routerLink="/experience" (click)="smMenu = false"
                routerLinkActive="active-link-sm">{{ 'Sections.experience' | translate | uppercase}}</button>
            <button class="menu-buttons" mat-button routerLink="/education" (click)="smMenu = false"
                routerLinkActive="active-link-sm">{{ 'Sections.education' | translate | uppercase }}</button>
            <button class="menu-buttons" mat-button routerLink="/about-me" (click)="smMenu = false"
                routerLinkActive="active-link-sm">{{ 'Sections.info' | translate | uppercase }}</button>
            <button class="menu-buttons" mat-button routerLink="/projects" (click)="smMenu = false"
                routerLinkActive="active-link-sm">{{ 'Sections.projects' | translate | uppercase}}</button>
            <button class="menu-buttons" mat-button (click)="smMenu = false">
                <a href="../../../assets/{{'Other.Files.cv' | translate }}" download>
                    {{ 'Other.download' | translate | uppercase}}
                </a>
            </button>
            <button class="menu-buttons" mat-button (click)="smMenu = false">
                <mat-icon>highlight_off</mat-icon>
            </button>
        </div>
        <div class="backdrop" (click)="smMenu = false">
        </div>
    </div>