@import '../../../assets/styles/global/colors';

#nav-bar {
    position: fixed;
    background-color: $background-dark-color;
    display: flex;
    align-items: center;
    height: 10vh!important;
    color: $text-light-color!important;
    top: 0;
    justify-content: space-between
}
.sm-menu {
    position: absolute;
    top: 10vh;
    height: 100%;
    width: 100%;
}
.buttons {
    display: flex;
    position: absolute;
    left: 0;
    flex-direction: column;
    color: $text-light-color!important;
    background: #343434;
    width: 100%;
    z-index: 2010;
}
hr {
    margin: 0
}
.menu-trigger {
    display: none;
}

.menu-buttons{
    width: 100%
}

.active-link-sm {
    background-color: $text-light-color;
    color: $text-dark-color;
}

.active-link {
    border-bottom: 1px solid white;
    border-radius: 0;
}

.backdrop {
    z-index: 2000;
    color: whitesmoke;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }

  
@media (max-width: 930px) {
    .nav-button-container {
        display:none!important;
    }
    .menu-trigger {
        display: flex!important;
    }
  }
