<div class="container">
  <h1 class="mat-display-2 sm-center">{{ 'Sections.education' | translate  | uppercase }}</h1>
  <ul class="timeline">
    <!-- Item 1 -->
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="hexa"></span>
          <span class="flag">{{ 'Education.secondary' | translate }}</span>
          <span class="time-wrapper"><span class="time">{{ 'Education.line3' | translate }}</span></span>
        </div>
        <div class="desc">
          {{ 'Education.line1' | translate }} <br>
          {{ 'Education.line2' | translate }}
        </div>
      </div>
    </li>

    <!-- Item 2 -->
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="hexa"></span>
          <span class="flag">{{ 'Education.halfGrade' | translate }}</span>
          <span class="time-wrapper"><span class="time">{{ 'Education.line5' | translate }}</span></span>
        </div>
        <div class="desc">
          {{ 'Education.line4' | translate }} <br>
          {{ 'Education.line8' | translate }}
        </div>
      </div>
    </li>

    <!-- Item 3 -->
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="hexa"></span>
          <span class="flag">{{ 'Education.universitary' | translate }}</span>
          <span class="time-wrapper"><span class="time">{{ 'Education.line7' | translate }}</span></span>
        </div>
        <div class="desc">
          {{ 'Education.line6' | translate }} <br>
          {{ 'Education.line8' | translate }}
        </div>
      </div>
    </li>
  </ul>
  <h3>
    {{ 'Education.line9' | translate }}
  </h3>
  <p class="lang-p">
    <img src="../../../assets/images/us.png" alt="US" class="l-flag"> {{ 'Education.line10' | translate }}
  </p>
  <p class="lang-p">
    <img src="../../../assets/images/de.png" alt="DE" class="l-flag"> {{ 'Education.line11' | translate }}
  </p>
</div>



<!-- <h2>
        {{ 'Education.line1' | translate }}
    </h2>
    <p> <strong>
            {{ 'Education.line2' | translate }}
        </strong></p>
    <p>
        <i>
            {{ 'Education.line3' | translate }}
        </i>
    </p>
    <h2>
        {{ 'Education.line4' | translate }}
    </h2>
    <p>
        <i>
            {{ 'Education.line5' | translate }}
        </i>
    </p>
    <h2>
        {{ 'Education.line6' | translate }}
    </h2>
    <p>
        <i>
            {{ 'Education.line7' | translate }}
        </i>
    </p>
    <p> <strong>
            {{ 'Education.line8' | translate }}
        </strong></p>
    <p>
        <h3>
            {{ 'Education.line9' | translate }}
        </h3>
        <p>
            {{ 'Education.line10' | translate }}
        </p>
        <p>
            {{ 'Education.line11' | translate }}
        </p> -->