@import "../../../assets/styles/styles.scss";
@import "../../../assets/styles/global/_colors.scss";

:host {
  background: url("../../../assets/images/photo-1534972195531-d756b9bfa9f2.jpg")
    no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: $text-light-color;
  width: 100%;
}
.buttons-container {
  color: $text-light-color;

}
p {
  margin: 0;
}

.container {
  display: flex;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  padding: 0.5rem 1rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.main h1 {
  margin: 2rem 0;
}
.ps p {
  margin: 0.5rem 0;
}

.under-construction {
  background-color: $text-light-color;
  display: flex;
  align-items: center;
  color: $text-dark-color;
  border-radius: 10px
}
.under-construction p {
  padding: .5rem
}
.under-construction img {
  max-width: 25vw;
  padding: .5rem
}
