$primary-color: #005E88;
$secondary-color: #00B693;
$accent-color: #F9F871;
$text-dark-color: #343434;
$text-light-color: #E1F1FF;
$background-dark-color: #04335E;
$background-light-color: whitesmoke;